.container {
  border: 2px solid #392eff;
  border-radius: 20px;
  padding: 8px;
  margin: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: brown;
  margin: 0;
}

.button {
  background-color: antiquewhite;
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: black;
  &:hover {
    color: #fff;
    background-color: #392eff;
    cursor: pointer;
  }
}
